:root {
    --footer-color: #6f7174;
    --footer-bg: #ffffff;
    --footer-border-color: #f0f0f0;
    --footer-links-color: #49537a;
    --purple-color: #673ab7;
    --purple-hover-color: #58319b;
    --indigo-color: #3f51b5;
    --white-color: #fcfcfc;
}

html, body, h1, h2, h3, h4, h5, h6, p, strong {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

ol, ul, dl, li {
    margin: 0;
    padding: 0;
}

main, header, footer, article, section, nav {
    margin: 0;
    padding: 0;
    display: block;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.app {
    min-width: 375px;
    height: 100%;
    background-color: transparent;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.water-drops-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.water-drops .water-drop {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 61% 39% 43% 57% / 46% 30% 70% 54%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.05) inset,
    15px 25px 10px rgba(0, 0, 0, 0.1),
    15px 20px 20px rgba(0, 0, 0, 0.05),
    -10px -10px 15px rgba(255, 255, 255, 0.9) inset;
}

.water-drops .water-drop::before {
    position: absolute;
    content: '';
    top: 25px;
    left: 35px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 18px;
    height: 18px;
    border-radius: 42% 58% 49% 51% / 37% 50% 50% 63%;
}

.water-drops .water-drop::after {
    position: absolute;
    content: '';
    top: 25px;
    left: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 8px;
    height: 8px;
    border-radius: 42% 58% 64% 36% / 37% 66% 34% 63%;
}

.water-drops .water-drop:nth-child(2) {
    transform: scale(0.5) translate(-200px, 180px);
    border-radius: 43% 57% 71% 29% / 51% 53% 47% 49%;
}

.water-drops .water-drop:nth-child(3) {
    transform: scale(0.7) translate(240px, 30px);
    border-radius: 45% 55% 51% 49% / 43% 44% 56% 57%;
}

.water-drops .water-drop:nth-child(4) {
    transform: scale(0.3) translate(120px, -370px);
    border-radius: 55% 45% 51% 49% / 43% 44% 56% 57%;
}

.water-drops .water-drop:nth-child(5) {
    transform: scale(1.2) translate(-50px, -260px);
    border-radius: 55% 45% 51% 49% / 43% 44% 56% 57%;
}

.water-drops .water-drop:nth-child(6) {
    transform: scale(0.5) translate(120px, -420px);
    border-radius: 32% 68% 32% 68% / 45% 41% 59% 55%;
}

.water-drops .water-drop:nth-child(7) {
    transform: scale(0.4) translate(-400px, 550px);
    border-radius: 33% 67% 70% 30% / 39% 30% 70% 61%;
}

.water-drops .water-drop:nth-child(8) {
    transform: scale(0.2) translate(-900px, 800px);
    border-radius: 47% 53% 48% 52% / 31% 56% 44% 69%;
}

.app__body {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__login {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 12px;
    margin: 0;
    width: 375px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    z-index: 1000;
}

.app__contents {
    position: relative;
    z-index: 1000;
    display: none;
    animation: fade-in 0.25s ease-in;

    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 12px;
}

.app__contents .clock {
    font-size: 65px;
    color: var(--white-color);
    letter-spacing: -0.5px;
    text-align: center;
    text-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);;
}

.app__contents .greeting {
    font-size: 35px;
    color: var(--white-color);
    font-weight: 600;
    text-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);;
    text-align: center;
    padding: 10px 0;
    word-break: break-all;
}

.app__contents .quote {
    font-size: 16px;
    color: var(--white-color);
    font-weight: 600;
    letter-spacing: -0.5px;
    text-align: center;
    word-break: break-all;
    text-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);;
}

.todo__add {
    padding: 12px;
    margin: 0;
    border-radius: 4px;
    display: flex;
}

.todo__add > input[type='text'] {
    appearance: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px;
    letter-spacing: -0.5px;
    width: 100%;
    margin-right: 4px;
    border-radius: 4px;
}

.todo__add > input[type='text']:focus {
    outline: 1px solid var(--purple-color);
}

.todo__add > button[type='button'] {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--purple-color);
    background-color: var(--purple-color);
    color: #ffffff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.todo__add > button[type='button']:hover {
    border-color: var(--purple-hover-color);
    background-color: var(--purple-hover-color);
}

.app__login > input[type='text'] {
    appearance: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 8px;
    letter-spacing: -0.5px;
    width: 100%;
    margin-right: 4px;
    border-radius: 4px;
}

.app__login > input[type='text']:focus {
    outline: 2px solid var(--purple-color);
}

.app__login > button[type='button'] {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--purple-color);
    background-color: var(--purple-color);
    color: #ffffff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.app__login > button[type='button']:hover {
    border-color: var(--purple-hover-color);
    background-color: var(--purple-hover-color);
}

.app__todo {
    margin-top: 20px;
    border-radius: 4px;
    padding: 12px;
    max-height: 250px;
    overflow: auto;
    background-color: rgba(242,242,242, 0.45);
}

.app__todo::-webkit-scrollbar {
    width: 8px;
}

.app__todo::-webkit-scrollbar-thumb {
    background-color: #f2f2f2;
    border-radius:10px;
}

.todo-item {
    color : var(--white-color);
    padding: 4px;
    letter-spacing: -0.5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.todo-item:not(:first-child) {
    margin-top: 6px;
}

.todo-item:hover {
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
}

.todo-item > img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.todo-item--complete {
    text-decoration : line-through;
    font-style: italic;
}

.app__footer {
    width: 100%;
    padding: 20px 40px;
    height: 100px;
    border-top: 1px solid var(--footer-border-color);
    background-color: var(--footer-bg);
    color: var(--footer-color);
}

.app__footer .links {
    padding-bottom: 20px;
    font-weight: 600;
}

.links a {
    text-decoration: none;
    color: var(--footer-links-color);
}

.links a:hover {
    text-decoration: underline;
}


/* animations */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}